.advertising {
    padding:42px 0 43px 18.5px;

    background-image:$gradient;

    @media (min-width:1024px){
        position:relative;

        padding:75px 0 80px 40px;
    }

    @media (min-width:1920px){
        padding:75px 0 80px 40px;
    }

    &__title {
        font-size:28px;
        font-weight:700;
        line-height:40px;

        margin:0;
        margin-bottom:31px;

        color:#fff;

        @media (min-width:1024px){
            font-size:45px;
            line-height:60px;

            margin-bottom:29px;
        }

        @media (min-width:1920px){
            width: 52%;
            margin: 0 auto 28px;
        }
    }

    &__subtitle {
        font-size:15px;
        font-weight:400;
        line-height:30px;

        margin:0;
        margin-left:16px;

        color:#fff;

        &::before{
            content:'*';
            
            font-size:20px;
        
            margin-left:-15px;
        }    
        
        @media (min-width:1024px){
            font-size:18px;

            width:80%;
            margin-left:15px;
        }

        @media (min-width:1920px){
            width:50%;
            margin:0 auto;
        }
    }

    &__signs-1 {
        display: none;
        position: absolute;

        @extend %reclam-signs;

        @media (min-width:1024px){
            display: block;
            
            transform:translate(11.3vw, -32.5vh) rotate(26deg);
        }

        @media (min-width:1920px){
            transform:translate(4.6vw, -20.4vh) rotate(26deg);
        }
    }

    &__signs-2 {
        display: none;
        position: absolute;

        @extend %reclam-signs;

        @media (min-width:1024px){
            display: block;

            font-size:40.8px;

            transform:translate(81.4vw, 0vh) rotate(-21.8deg);
        }

        @media (min-width:1920px){
            transform:translate(84.2vw, -19.2vh) rotate(-22deg);
        }
    }

    &__signs-3 {
        display: none;
        position: absolute;

        @extend %reclam-signs;

        @media (min-width:1024px){
            display: block;

            font-size:25px;

            transition:2s;
            transform:translate(46vw, 2.0vh) rotate(20deg);
        }

        @media (min-width:1920px){
            font-size:38.8px;

            transform:translate(72vw, 1.5vh) rotate(20deg);
        }
    }

    &__signs-4 {
        display: none;
        position: absolute;

        @extend %reclam-signs;

        @media (min-width:1920px){
            display: block;

            transform:translate(90vw, -2.4vh) rotate(-18deg);
        }
    }

    &__signs-5 {
        display: none;
        position: absolute;

        @extend %reclam-signs;

        @media (min-width:1920px){
            display: block;

            font-size:55.8px;

            transform:translate(10.7vw, -3.2vh) rotate(16deg);
        }
    }
}
