.my-presentation {
    margin-bottom:35px;

    @media (min-width:1024px){
        margin-bottom:94px;
        background-color: #fbfbfb;
    }

    @media (min-width:1920px){
        margin-bottom:97px;
    }

    &__container{
        @extend %container;

        position: relative;

        @media (min-width:1024px){
            background-color: #fbfbfb;
        }
    }

    &__signs {
        position:relative;

        overflow:hidden;

        height:414px;
        margin-bottom:6px;
        padding-top:84px;

        @media (min-width:1024px){
            width:100%;
            height:683px;
        }

        @media (min-width:1920px){
            width:100%;
            height:680px;
            padding-top: 62px;
        }
    }

  &__signs-1 {
        transition: transform 2s;
        transform:  rotate(26deg);

        left: 15%;
        top: 11%;

        @extend %signs;

        @media (min-width:1024px){
            transform: rotate(26deg);

            left: 7.5%;
            top: 10.5%;
        }

        @media (min-width:1920px){
            transform: rotate(26deg);

            left: 6.6%;
            top: 7.4%;
        }
    }

    &__signs-2 {
        transition: transform 2s;
        transform: rotate(18deg);

        left: 12%;
        top: 37%;

        @extend %signs;

        @media (min-width:1024px){
            font-size:54px;

            transform: rotate(18deg);

            left: 5.7%;
            top: 80%;
        }

        @media (min-width:1920px){
            font-size:60px;

            transform: rotate(18deg);

            left: 12.75%;
            top: 40.5%;
        }
    }

    &__signs-3 {
        font-size:18px;

        transition: transform 2s;
        transform: rotate(-27deg);

        left: 53.8%;
        top: 7.5%;

        @extend %signs;

        @media (min-width:1024px){
            font-size:45px;
            transform: rotate(15deg);

            left: 41.2%;
            top: 21.7%;
        }

        @media (min-width:1920px){
            font-size:42px;

            transform: rotate(-25deg);

            left: 19.5%;
            top: 86%;
        }
    }

    &__signs-4 {
        font-size:15px;

        transition: transform 2s;
        transform: rotate(18deg);

        left: 76.5%;
        top: 22%;

        @extend %signs;

        @media (min-width:1024px){
            font-size:30px;

            transform: rotate(-14deg);

            left: 86.45%;
            top: 9.5%;
        }

        @media (min-width:1920px){
            font-size:30px;

            transform: rotate(-18deg);

            left: 41%;
            top: 12%;
        }
    }

    &__signs-5 {
        display:none;

        transition: transform 2s;

        @extend %signs;

        @media (min-width:1024px){
            display:block;
            font-size:42.8px;

            transform: rotate(-21deg);

            left: 35%;
            top: 73%;
        }

        @media (min-width:1920px){
            display:none;
        }
    }

    &__signs-6 {
        display:none;

        transition: transform 2s;

        @extend %signs;

        @media (min-width:1920px){
            display:block;

            font-size:38px;

            transform: rotate(21deg);

            left: 49.5%;
            top: 66.8%;
        }
    }

    &__picture {
        position:relative;
        height: 330px;
        margin: 0;

        @media (min-width:1024px){
            float:right;

            bottom: 5px;
            width:50%;
            height:100%;
        }
    }

    &__svg {
        position:absolute;
        left:55%;
        top: 9%;

        width:158%;

        display:block;

        transform:translateX(-50%);

        fill: url(#grad);

        @media (min-width:1024px){
            display: none;
        }
    }

    &__svg-1024{
        display: none;

        fill: url(#grad);
        position:absolute;
        
        @media (min-width:1024px){
            display: block;

            top:13%;
            left:-9%;

            width:180%;
        }

        @media (min-width:1920px){
            display: none;
        }
    }

    &__svg-1920{
        display: none;

        fill: url(#grad);
        position:absolute;

        @media (min-width:1920px){
            display: block;

            top:-2.5%;
            left: 3%;
            
            transform:translate(10.5%, 0) rotate(0deg);

            width:100%;
        }
    }

    &__img {
        position:absolute;
        z-index:2;
        left:59%;
        bottom:0%;

        float:right;

        transform:translateX(-50%);

        @media (min-width:1024px){
            bottom: -1%;
            left:50%;

            transform:translateX(-50%);
        }

        @media (min-width:1920px){
            top: 1.8%;
            left:48%;

            transform:translateX(-52%);
        }
    }
}

.my-info {
    position:relative;

    @media (min-width:1024px){
        position:absolute;
        bottom:227px;

        margin-left:40px;
    }

    @media (min-width:1920px){
        bottom:234px;
        margin-left:375px;
    }

    &__title {
        @extend %title;

        margin-bottom:0px;

        @media (min-width:1024px){
            margin-bottom:30px;
            margin-left:0;
        }

        @media (min-width:1920px){
            margin-bottom:40px;
            font-size: 80px;
        }
    }

    &__subtitle {
        @extend %subtitle;

        width:80%;
        margin:0 auto 22px;

        @media (min-width:1024px){
            margin-bottom:50px ;
            white-space:nowrap;
            width: 100%;
        }

        @media (min-width:1920px){
            margin-bottom:46px;
            text-align: left;
        }
    }

    &__buttom {
        @extend %button;

        @media (min-width:1024px){
            margin-left: 0;

        }
    }
}
