.my-presentation {
    margin-bottom:35px;
    position: relative;

    @media (min-width:769px){
        margin-bottom:94px;
        background-color: #fbfbfb;
    }

    @media (min-width:1200px){
        margin-bottom:97px;
    }

    &__container{
        @extend %container;

        position: relative;

        margin-bottom:6px;
        padding-top:84px;

        @media (min-width:769px){
            width:100%;
            padding-top:63px;
            height:683px;
        }

        @media (min-width:1200px){
            width:100%;
            height:680px;
            padding-top: 62px;
        }
    }


  &__signs-1 {
    
        transform:  rotate(26deg);

        left: 15%;
        top: 7.8%;
    
        @extend %signs;

        @media (min-width:769px){
            transform: rotate(26deg);

            left: 7.5%;
            top: 10.5%;
        }

        @media (min-width:1200px){
            transform: rotate(26deg);

            left: 6.7%;
            top: 7.4%;
        }
    }

    &__signs-2 {
        transform: rotate(18deg);

        left: 12%;
        top: 25.5%;

        @extend %signs;

        @media (min-width:769px){
            font-size:54px;

            transform: rotate(18deg);

            left: 5.7%;
            top: 80%;
        }

        @media (min-width:1200px){
            font-size:60px;

            transform: rotate(18deg);

            left: 12.75%;
            top: 40.5%;
        }
    }

    &__signs-3 {
        font-size:18px;

        transition: transform 2s;
        transform: rotate(-27deg);

        left: 53.8%;
        top: 5%;

        @extend %signs;

        z-index: 10;

        @media (min-width:769px){
            font-size:45px;
            transform: rotate(15deg);

            left: 41.2%;
            top: 21.7%;
        }

        @media (min-width:1200px){
            font-size:42px;

            transform: rotate(-25deg);

            left: 19.5%;
            top: 86%;
        }
    }

    &__signs-4 {
        font-size:15px;
        transform: rotate(18deg);

        left: 76.5%;
        top: 15.5%;

        @extend %signs;

        @media (min-width:769px){
            font-size:30px;

            transform: rotate(-14deg);

            left: 86.45%;
            top: 9.5%;
        }

        @media (min-width:1200px){
            font-size:30px;

            transform: rotate(-18deg);

            left: 41%;
            top: 12%;
        }
    }

    &__signs-5 {
        display:none;

        @extend %signs;

        @media (min-width:769px){
            display:block;
            font-size:42.8px;

            transform: rotate(-21deg);

            left: 35%;
            top: 73%;
        }

        @media (min-width:1200px){
            display:none;
        }
    }

    &__signs-6 {
        display:none;

        @extend %signs;

        @media (min-width:1200px){
            display:block;

            font-size:38px;

            transform: rotate(21deg);

            left: 49.5%;
            top: 66.8%;
        }
    }

    &__picture {
        position:relative;
        height: 330px;
        margin: 0;
        overflow:hidden;

        @media (min-width:769px){
            position: absolute;
            right: -2%;
            top: 40px;

            bottom: 5px;
            width:69%;
            height:94%;

            background-color: #fbfbfb;
        }

        @media (min-width:1200px){
            position: absolute;
            right: -31.5%;
            top: 40px;

            bottom: 5px;
            width:69%;
            height:94%;
        }
    }

    &__svg {
        position:absolute;
        left:55%;
        top: 9%;

        width:158%;

        display:block;

        transform:translateX(-50%);

        fill: url(#grad);

        @media (min-width:769px){
            display: none;
        }
    }

    &__svg-1024{
        display: none;

        fill: url(#grad);
        position:absolute;

        @media (min-width:769px){
            display: block;
            position:absolute;

            top:25%;
            left:-5%;

            transform: rotate(-5deg);

            width:180%;
        }
        
        @media (min-width:920px){
            display: block;
            position:absolute;

            top:10%;
            left:-2%;

            width:180%;
        }

        @media (min-width:1200px){
            display: none;
        }
    }

    &__svg-1920{
        display: none;

        fill: url(#grad);
        position:absolute;

        @media (min-width:1200px){
            display: block;
            position: absolute;

            top: 0.5%;
            left: -14%;
            
            transform:translate(10.5%, 0) rotate(0deg);

            width:120%;
        }
    }

    &__img {
        position:absolute;
        z-index:2;
        left:59%;
        bottom:0%;

        float:right;

        transform:translateX(-50%);

        @media (min-width:769px){
            bottom: -1%;
            left:53%;

            transform:translateX(-50%);
        }

        @media (min-width:1200px){
            top: 1%;
            left:38.2%;

            transform:translateX(-52%);
        }
    }
}

.my-info {
    position:relative;
    z-index: 10;
    padding-top: 5px;

    @media (min-width:769px){
        position:absolute;
        bottom:227px;

        margin-left:40px;
    }

    @media (min-width:1200px){
        bottom:234px;
        margin-left:0%;
    }

    &__title {
        @extend %title;

        margin-bottom:0px;

        @media (min-width:769px){
            margin-bottom:30px;
            margin-left:0;
            font-size: 48px;
        }

        @media (min-width:900px){
            font-size: 54px;
        }

        @media (min-width:1200px){
            margin-bottom:40px;
            font-size: 80px;
        }
    }

    &__subtitle {
        width:80%;
        margin:0 auto 22px;

        @extend %subtitle;

        @media (min-width:769px){
            margin-bottom:50px ;
            white-space:nowrap;
            width: 100%;
            font-size: 20px;
        }

        @media (min-width:900px){
            font-size: 25px;
        }

        @media (min-width:1200px){
            margin-bottom:46px;
            text-align: left;
        }
    }

    &__buttom {
        @extend %button;

        @media (min-width:769px){
            margin-left: 0;

        }
    }
}
