.header {
    width:100%;

    display:flex;
    justify-content:space-between;

    margin: 0;
    margin-bottom:2px;

    padding:0 6%;
    padding-top:28px;

    &__navigation {
    }

    &__burger {
        width:24px;
        height:18px;
        margin:0;
        padding:0;

        border:none;
        background:transparent;

        &_element {
            display:block;

            width:24px;
            height:2px;
            margin-bottom:6px;

            background: $gradient;
        }
    }

    &__navigation-ul {
        position:fixed;
        z-index:10;

        display:none;

        width:106%;
        height:100vh;
        margin-top:55px;
        margin-left:-6%;
        padding:0;

        background-color:#fff;
    }

    &__navigation-li {
        display:flex;
        align-items:center;

        width:80%;
        margin:0 auto 40px;

        list-style:none;

        :last-child{
            margin-bottom:0;
        }
    }

    &__navigation-a {
        font-size:30px;
        font-weight:700px;

        display:inline-block;

        margin:0 auto;

        :hover{
            color:#fc557c;
        }
    }

    &__phone-text {
        font-size:18px;
        font-weight:700;

        color:#1f1f24;
    }

    &__phone-bottom {
        width:26px;
        height:26px;
        margin-top:-4px;

        border:none;
        background:url('img/icon/call-answer.png');
        background-repeat:no-repeat;
        background-position:center top;
        transition: 1s;

        :hover{
            transform: scale(1.2);
            transition: 1s;
        }

        &_text {
            display:none;
        }
    }
}

