@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto Bold"), url("../fonts/Robotoblack900.woff2") format("woff2"), url("../fonts/Robotoblack900.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto Bold"), url("../fonts/Robotobold700.woff2") format("woff2"), url("../fonts/Robotobold700.woff") format("woff"); }

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto Mediyn"), url("../fonts/Robotomedium500.woff2") format("woff2"), url("../fonts/Robotomedium500.woff") format("woff"); }

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto Regular"), url("../fonts/Roboto400.woff2") format("woff2"), url("../fonts/Roboto400.woff") format("woff"); }
