@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow: auto;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0;
  padding: 0;
  border: 0; }

*,
*:before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /*позволяет наследовать свойство родителя*/ }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: inherit; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0; }

.clearfix::after {
  display: block;
  clear: both;
  content: ''; }

.svg-sprites {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  padding: 0;
  opacity: 0;
  top: 0;
  left: 0;
  border: 0; }

.overflow {
  overflow: hidden; }

.header__container, .my-presentation__container, .my-job__container, .work-example__container, .advertising__container, .footer-container {
  max-width: 1170px;
  margin: 0 auto; }

.my-info__title, .my-job__title, .work-example__title {
  font-size: 30px;
  font-weight: 900;
  line-height: 51px;
  color: #1f1f24;
  display: block;
  margin: 0;
  text-align: center; }
  @media (min-width: 769px) {
    .my-info__title, .my-job__title, .work-example__title {
      font-size: 54px; } }

.my-info__subtitle, .my-job__subtitle, .swiper-item__subtitle {
  opacity: 0.92;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #8993ad;
  margin: 0;
  text-align: center; }
  @media (min-width: 769px) {
    .my-info__subtitle, .my-job__subtitle, .swiper-item__subtitle {
      font-size: 25px; } }

.my-info__buttom, .my-job__button, .work-example__button, .connection__button {
  width: 87.5%;
  height: 55px;
  font-size: 16px;
  line-height: 39px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  border: none;
  background-color: #ff4e2e;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  cursor: pointer;
  display: block;
  margin: 0 auto; }
  .my-info__buttom:hover, .my-job__button:hover, .work-example__button:hover, .connection__button:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
  @media (min-width: 769px) {
    .my-info__buttom, .my-job__button, .work-example__button, .connection__button {
      font-size: 18px;
      font-weight: 500;
      height: 68px;
      width: 320px; } }
  @media (min-width: 1200px) {
    .my-info__buttom, .my-job__button, .work-example__button, .connection__button {
      width: 270px;
      height: 60px; } }

.my-presentation__signs-1, .my-presentation__signs-2, .my-presentation__signs-3, .my-presentation__signs-4, .my-presentation__signs-5, .my-presentation__signs-6 {
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  z-index: 10;
  background: -webkit-gradient(linear, left bottom, left top, from(#f26522), to(#fa0891));
  background: -o-linear-gradient(bottom, #f26522 0%, #fa0891 100%);
  background: linear-gradient(0deg, #f26522 0%, #fa0891 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent; }
  @media (min-width: 769px) {
    .my-presentation__signs-1, .my-presentation__signs-2, .my-presentation__signs-3, .my-presentation__signs-4, .my-presentation__signs-5, .my-presentation__signs-6 {
      font-size: 48.8px; } }

.advertising__signs-1, .advertising__signs-2, .advertising__signs-3, .advertising__signs-4, .advertising__signs-5 {
  font-size: 32.4px;
  font-weight: 700;
  position: absolute;
  color: #fff;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  -o-transition: transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s; }
  @media (min-width: 1200px) {
    .advertising__signs-1, .advertising__signs-2, .advertising__signs-3, .advertising__signs-4, .advertising__signs-5 {
      font-size: 48.8px; } }

.annunciation, .request-call-block, .follow-up, .find-price, .order-project {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 60px 0 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26522), to(#fa0891));
  background-image: -o-linear-gradient(bottom, #f26522 0%, #fa0891 100%);
  background-image: linear-gradient(0deg, #f26522 0%, #fa0891 100%);
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  @media (min-width: 769px) {
    .annunciation, .request-call-block, .follow-up, .find-price, .order-project {
      width: 70%; } }
  @media (min-width: 1200px) {
    .annunciation, .request-call-block, .follow-up, .find-price, .order-project {
      width: 60%; } }

.annunciation__title, .request-call-block__title, .follow-up__title, .find-price__title, .order-project__title {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  color: #1f1f24; }

.request-call-block__form, .find-price__form {
  border: 3px solid #1f1f24;
  padding: 4%;
  border-radius: 5px;
  margin: 0 auto; }

.request-call-block__intro-label, .request-call-block__tel-label, .find-price__page-label, .find-price__block-label, .find-price__sloider-label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 auto 8px;
  text-align: center;
  opacity: .92;
  color: #1f1f24; }

.request-call-block__intro-input, .request-call-block__tel-input, .find-price__page-input, .find-price__block-input, .find-price__sloider-input {
  padding: 8px 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 5px;
  outline: none; }

.request-call-block__button, .find-price__button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  display: block;
  width: 87.5%;
  margin: 0 auto;
  padding: 18px 0;
  text-align: center;
  letter-spacing: .4px;
  cursor: pointer;
  color: #1f1f24;
  border: none;
  background-color: #fbfbfb;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  .request-call-block__button:hover, .find-price__button:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }

.header {
  margin: 0;
  margin-bottom: 2px;
  padding: 0 6%;
  padding-top: 30px;
  outline: none; }
  @media (min-width: 769px) {
    .header {
      padding: 38px 4% 10px;
      background-color: #fbfbfb;
      margin: 0; } }
  @media (min-width: 1200px) {
    .header {
      background-color: #fbfbfb;
      padding: 42px 0 20px; } }
  .header__container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__navigation {
    background-color: #fbfbfb; }
  .header__burger {
    width: 24px;
    height: 18px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent; }
    @media (min-width: 769px) {
      .header__burger {
        width: 45px;
        height: 32px; } }
    @media (min-width: 1200px) {
      .header__burger {
        display: none; } }
    .header__burger_element {
      display: block;
      width: 24px;
      height: 2px;
      margin-bottom: 6px;
      background: -webkit-gradient(linear, left bottom, left top, from(#f26522), to(#fa0891));
      background: -o-linear-gradient(bottom, #f26522 0%, #fa0891 100%);
      background: linear-gradient(0deg, #f26522 0%, #fa0891 100%); }
      @media (min-width: 769px) {
        .header__burger_element {
          width: 45px;
          height: 5px;
          margin-bottom: 8px; } }
  .header__navigation-ul {
    position: fixed;
    z-index: 10;
    display: none;
    width: 106%;
    height: 100vh;
    margin-top: 30px;
    margin-left: -6%;
    padding: 0;
    padding-top: 50px;
    background-color: #fff; }
    @media (min-width: 1200px) {
      .header__navigation-ul {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        position: static;
        height: 100%;
        margin: 0;
        background-color: #fbfbfb;
        padding: 0; } }
  .header__navigation-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    margin: 0 auto 40px;
    list-style: none; }
    @media (min-width: 1200px) {
      .header__navigation-item {
        margin: 0;
        margin-right: 15px; }
        .header__navigation-item:last-child {
          margin-right: 0; } }
    .header__navigation-item:last-child {
      margin-bottom: 0; }
  .header__navigation-link {
    font-size: 30px;
    font-weight: 700px;
    display: inline-block;
    color: #1f1f24;
    margin: 0 auto;
    -webkit-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s; }
    .header__navigation-link:hover {
      color: #fc557c;
      border-bottom: 1px solid #fc557c;
      -webkit-transition: border color 0.25s;
      -o-transition: border color 0.25s;
      transition: border color 0.25s; }
    @media (min-width: 1200px) {
      .header__navigation-link {
        font-size: 16px;
        font-weight: 400; } }
  .header__phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .header__phone-text {
    font-size: 18px;
    font-weight: 700;
    margin-right: 35px;
    color: #1f1f24; }
    @media (min-width: 769px) {
      .header__phone-text {
        font-size: 25px;
        margin-right: 28px; } }
    @media (min-width: 1200px) {
      .header__phone-text {
        margin-top: -5px; } }
  .header__phone-bottom {
    width: 26px;
    height: 26px;
    margin-top: -4px;
    cursor: pointer;
    border: none;
    background: url("../img/icon/call-answer.png");
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    @media (min-width: 769px) {
      .header__phone-bottom {
        width: 206px;
        margin-top: -7px;
        padding: 0;
        text-align: center;
        background: none; } }
    @media (min-width: 1200px) {
      .header__phone-bottom {
        margin-top: -13px; } }
    .header__phone-bottom:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s; }
    .header__phone-bottom_text {
      display: none; }
      @media (min-width: 769px) {
        .header__phone-bottom_text {
          font-size: 16px;
          font-weight: 400;
          display: block;
          padding: 13px 0;
          color: #f53f4f;
          border: 1.0px solid #f82370; } }

.modal-all {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%; }

.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.no-active {
  opacity: 0;
  visibility: hidden; }

.button-close {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  margin: 2%;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  background: transparent;
  border: none;
  outline-color: black; }
  .button-close:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .button-close__liner-1 {
    position: absolute;
    display: block;
    width: 95%;
    height: 3px;
    background: black;
    margin: 0 2.5%;
    margin-top: -1.5px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .button-close__liner-2 {
    position: absolute;
    display: block;
    width: 95%;
    height: 3px;
    background: black;
    margin: 0 2.5%;
    margin-top: -1.5px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.find-price__form {
  margin-bottom: 40px; }

.find-price__prise {
  display: none;
  margin: 20px;
  color: blanchedalmond;
  border: solid 3px blanchedalmond;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 30px; }

.my-presentation {
  margin-bottom: 35px;
  position: relative; }
  @media (min-width: 769px) {
    .my-presentation {
      margin-bottom: 94px;
      background-color: #fbfbfb; } }
  @media (min-width: 1200px) {
    .my-presentation {
      margin-bottom: 97px; } }
  .my-presentation__container {
    position: relative; }
    @media (min-width: 769px) {
      .my-presentation__container {
        background-color: #fbfbfb; } }
  .my-presentation__signs {
    position: relative;
    overflow: hidden;
    height: 414px;
    margin-bottom: 6px;
    padding-top: 84px; }
    @media (min-width: 769px) {
      .my-presentation__signs {
        width: 100%;
        height: 683px; } }
    @media (min-width: 1200px) {
      .my-presentation__signs {
        width: 100%;
        height: 680px;
        padding-top: 62px; } }
  .my-presentation__signs-1 {
    position: absolute;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    -webkit-transform: rotate(26deg);
        -ms-transform: rotate(26deg);
            transform: rotate(26deg);
    left: 15%;
    top: 11%; }
    @media (min-width: 769px) {
      .my-presentation__signs-1 {
        -webkit-transform: rotate(26deg);
            -ms-transform: rotate(26deg);
                transform: rotate(26deg);
        left: 7.5%;
        top: 10.5%; } }
    @media (min-width: 1200px) {
      .my-presentation__signs-1 {
        -webkit-transform: rotate(26deg);
            -ms-transform: rotate(26deg);
                transform: rotate(26deg);
        left: 23vw;
        top: 7.4%; } }
  .my-presentation__signs-2 {
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
            transform: rotate(18deg);
    left: 12%;
    top: 37%; }
    @media (min-width: 769px) {
      .my-presentation__signs-2 {
        font-size: 54px;
        -webkit-transform: rotate(18deg);
            -ms-transform: rotate(18deg);
                transform: rotate(18deg);
        left: 5.7%;
        top: 80%; } }
    @media (min-width: 1200px) {
      .my-presentation__signs-2 {
        font-size: 60px;
        -webkit-transform: rotate(18deg);
            -ms-transform: rotate(18deg);
                transform: rotate(18deg);
        left: 12.75%;
        top: 40.5%; } }
  .my-presentation__signs-3 {
    font-size: 18px;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    -webkit-transform: rotate(-27deg);
        -ms-transform: rotate(-27deg);
            transform: rotate(-27deg);
    left: 53.8%;
    top: 7.5%; }
    @media (min-width: 769px) {
      .my-presentation__signs-3 {
        font-size: 45px;
        -webkit-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
                transform: rotate(15deg);
        left: 41.2%;
        top: 21.7%; } }
    @media (min-width: 1200px) {
      .my-presentation__signs-3 {
        font-size: 42px;
        -webkit-transform: rotate(-25deg);
            -ms-transform: rotate(-25deg);
                transform: rotate(-25deg);
        left: 19.5%;
        top: 86%; } }
  .my-presentation__signs-4 {
    font-size: 15px;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
            transform: rotate(18deg);
    left: 76.5%;
    top: 22%; }
    @media (min-width: 769px) {
      .my-presentation__signs-4 {
        font-size: 30px;
        -webkit-transform: rotate(-14deg);
            -ms-transform: rotate(-14deg);
                transform: rotate(-14deg);
        left: 86.45%;
        top: 9.5%; } }
    @media (min-width: 1200px) {
      .my-presentation__signs-4 {
        font-size: 30px;
        -webkit-transform: rotate(-18deg);
            -ms-transform: rotate(-18deg);
                transform: rotate(-18deg);
        left: 41%;
        top: 12%; } }
  .my-presentation__signs-5 {
    display: none;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s; }
    @media (min-width: 769px) {
      .my-presentation__signs-5 {
        display: block;
        font-size: 42.8px;
        -webkit-transform: rotate(-21deg);
            -ms-transform: rotate(-21deg);
                transform: rotate(-21deg);
        left: 35%;
        top: 73%; } }
    @media (min-width: 1200px) {
      .my-presentation__signs-5 {
        display: none; } }
  .my-presentation__signs-6 {
    display: none;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s; }
    @media (min-width: 1200px) {
      .my-presentation__signs-6 {
        display: block;
        font-size: 38px;
        -webkit-transform: rotate(21deg);
            -ms-transform: rotate(21deg);
                transform: rotate(21deg);
        left: 49.5%;
        top: 66.8%; } }
  .my-presentation__picture {
    position: relative;
    height: 330px;
    margin: 0; }
    @media (min-width: 769px) {
      .my-presentation__picture {
        float: right;
        bottom: 5px;
        width: 50%;
        height: 100%; } }
  .my-presentation__svg {
    position: absolute;
    left: 55%;
    top: 9%;
    width: 158%;
    display: block;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    fill: url(#grad); }
    @media (min-width: 769px) {
      .my-presentation__svg {
        display: none; } }
  .my-presentation__svg-1024 {
    display: none;
    fill: url(#grad);
    position: absolute; }
    @media (min-width: 769px) {
      .my-presentation__svg-1024 {
        display: block;
        top: 13%;
        left: -9%;
        width: 180%; } }
    @media (min-width: 1200px) {
      .my-presentation__svg-1024 {
        display: none; } }
  .my-presentation__svg-1920 {
    display: none;
    fill: url(#grad);
    position: absolute; }
    @media (min-width: 1200px) {
      .my-presentation__svg-1920 {
        display: block;
        top: -2.5%;
        left: 3%;
        -webkit-transform: translate(10.5%, 0) rotate(0deg);
            -ms-transform: translate(10.5%, 0) rotate(0deg);
                transform: translate(10.5%, 0) rotate(0deg);
        width: 100%; } }
  .my-presentation__img {
    position: absolute;
    z-index: 2;
    left: 59%;
    bottom: 0%;
    float: right;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media (min-width: 769px) {
      .my-presentation__img {
        bottom: -1%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); } }
    @media (min-width: 1200px) {
      .my-presentation__img {
        top: 1.8%;
        left: 48%;
        -webkit-transform: translateX(-52%);
            -ms-transform: translateX(-52%);
                transform: translateX(-52%); } }

.my-info {
  position: relative; }
  @media (min-width: 769px) {
    .my-info {
      position: absolute;
      bottom: 227px;
      margin-left: 40px; } }
  @media (min-width: 1200px) {
    .my-info {
      bottom: 234px;
      margin-left: 5%; } }
  @media (min-width: 1920px) {
    .my-info {
      margin-left: 19.5%; } }
  .my-info__title {
    margin-bottom: 0px; }
    @media (min-width: 769px) {
      .my-info__title {
        margin-bottom: 30px;
        margin-left: 0; } }
    @media (min-width: 1200px) {
      .my-info__title {
        margin-bottom: 40px;
        font-size: 80px; } }
  .my-info__subtitle {
    width: 80%;
    margin: 0 auto 22px; }
    @media (min-width: 769px) {
      .my-info__subtitle {
        margin-bottom: 50px;
        white-space: nowrap;
        width: 100%; } }
    @media (min-width: 1200px) {
      .my-info__subtitle {
        margin-bottom: 46px;
        text-align: left; } }
  @media (min-width: 769px) {
    .my-info__buttom {
      margin-left: 0; } }

.my-job {
  padding-bottom: 52px; }
  @media (min-width: 769px) {
    .my-job {
      padding-bottom: 110px; } }
  @media (min-width: 1200px) {
    .my-job {
      padding-bottom: 106px; } }
  .my-job__title {
    margin-bottom: 34px;
    max-width: 1170px;
    margin: 0 auto; }
    @media (min-width: 769px) {
      .my-job__title {
        margin-bottom: 92px; } }
  .my-job__example {
    margin: 0;
    margin-bottom: 62px;
    padding: 0; }
    @media (min-width: 769px) {
      .my-job__example {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin-bottom: 90px;
        padding: 0 18%; } }
    @media (min-width: 1200px) {
      .my-job__example {
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 89px;
        padding: 0; } }
  .my-job__item {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
    margin-bottom: 46px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .my-job__item:last-child {
      margin-bottom: 0; }
    .my-job__item:hover .my-job__example-svg {
      fill: green; }
    @media (min-width: 769px) {
      .my-job__item {
        width: 40%;
        margin-right: 18.5%;
        margin-bottom: 11.9%; }
        .my-job__item:nth-child(even) {
          margin-right: 0; }
        .my-job__item:nth-child(3) {
          margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .my-job__item {
        width: 100%;
        margin: 0;
        margin-right: 0; }
        .my-job__item:last-child {
          margin-right: 0; } }
  .my-job__example-svg {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    width: 19%;
    min-height: 40px;
    margin-bottom: 3.8%;
    fill: url(#grad); }
    @media (min-width: 769px) {
      .my-job__example-svg {
        width: 30%;
        margin-bottom: 16px; } }
    @media (min-width: 1200px) {
      .my-job__example-svg {
        width: 25%;
        margin-bottom: 11px; } }
    @media (min-width: 1200px) {
      .my-job__example-svg {
        width: 28%;
        margin-bottom: 11px; } }
  .my-job__subtitle {
    width: 70%; }
    @media (min-width: 769px) {
      .my-job__subtitle {
        font-size: 20px;
        line-height: 30px;
        width: 100%; } }

.work-example {
  padding: 41px 15px 51px;
  background-color: #fbfbfb; }
  @media (min-width: 769px) {
    .work-example {
      padding: 100px 15px 101px; } }
  @media (min-width: 1200px) {
    .work-example {
      padding: 102px 15px 102px;
      position: relative; } }
  .work-example__container {
    background-color: #fbfbfb; }
    @media (min-width: 1200px) {
      .work-example__container {
        position: relative; } }
  .work-example__title {
    line-height: 35px; }
  .work-example__button {
    min-width: 280px; }

.swiper-container {
  margin: 43px 0 37px !important;
  padding-bottom: 66px; }
  @media (min-width: 769px) {
    .swiper-container {
      margin: 110px 0 86px !important;
      padding-bottom: 135px; } }
  @media (min-width: 1200px) {
    .swiper-container {
      margin: 110px auto 84px !important;
      padding-bottom: 10px;
      width: 100% !important; } }

.swiper-wrapper {
  margin: 0 auto !important; }

.swiper-slide {
  width: 100%;
  text-align: center; }
  @media (min-width: 1200) {
    .swiper-slide {
      width: 31.6% !important; } }

.swiper-item {
  display: block; }
  .swiper-item__figure {
    margin: 0; }
  .swiper-item__foto {
    margin-bottom: 11px; }
    @media (min-width: 769px) {
      .swiper-item__foto {
        width: 455px;
        height: 358px;
        margin-bottom: 21px; } }
    @media (min-width: 1200px) {
      .swiper-item__foto {
        width: 100%;
        margin-bottom: 35px;
        height: 290px; } }
  .swiper-item__subtitle {
    font-size: 18px; }
    @media (min-width: 769px) {
      .swiper-item__subtitle {
        font-size: 25px; } }
    @media (min-width: 1200px) {
      .swiper-item__subtitle {
        display: inline-block;
        font-size: 20px; } }

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  margin: 0 8.5px !important; }
  @media (min-width: 769px) {
    .swiper-pagination-bullet {
      width: 18px;
      height: 18px;
      margin: 0 15px !important; } }
  @media (min-width: 1200px) {
    .swiper-pagination-bullet {
      display: none; } }

.swiper-pagination-bullet-active {
  background-color: #ff4e2e !important; }

.swiper-button-all {
  display: none; }
  @media (min-width: 1200px) {
    .swiper-button-all {
      display: block; } }

@media (min-width: 1200px) {
  .swiper-button-prev {
    background: url("../img/icon/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 284px;
    left: -4%;
    width: 80px;
    height: 80px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    border: 1px solid transparent;
    border-radius: 50%; }
    .swiper-button-prev::after {
      content: none; } }

@media (min-width: 1200px) {
  .swiper-button-next {
    background: url("../img/icon/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    position: absolute;
    top: 284px;
    right: -4%;
    width: 80px;
    height: 80px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    border: 1px solid transparent;
    border-radius: 50%; }
    .swiper-button-next::after {
      content: none; } }

.advertising {
  padding: 42px 0 43px 18.5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26522), to(#fa0891));
  background-image: -o-linear-gradient(bottom, #f26522 0%, #fa0891 100%);
  background-image: linear-gradient(0deg, #f26522 0%, #fa0891 100%); }
  @media (min-width: 769px) {
    .advertising {
      position: relative;
      padding: 75px 0 80px; } }
  @media (min-width: 1200px) {
    .advertising {
      padding: 75px 0 80px; } }
  @media (min-width: 769px) {
    .advertising__container {
      position: relative; } }
  .advertising__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 31px;
    color: #fff; }
    @media (min-width: 769px) {
      .advertising__title {
        font-size: 45px;
        line-height: 60px;
        width: 92.5%; } }
    @media (min-width: 1200px) {
      .advertising__title {
        width: 92.5%;
        text-align: center;
        margin: 0 auto 28px; } }
  .advertising__subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
    color: #fff; }
    .advertising__subtitle::before {
      content: '*';
      font-size: 20px;
      margin-left: -15px; }
    @media (min-width: 769px) {
      .advertising__subtitle {
        font-size: 18px;
        width: 89%; } }
    @media (min-width: 1200px) {
      .advertising__subtitle {
        width: 78%;
        margin: 0 auto; } }
  .advertising__signs-1 {
    display: none;
    position: absolute; }
    @media (min-width: 769px) {
      .advertising__signs-1 {
        display: block;
        -webkit-transform: rotate(26deg);
            -ms-transform: rotate(26deg);
                transform: rotate(26deg);
        left: 11.7%;
        top: -25.6%; } }
    @media (min-width: 1200px) {
      .advertising__signs-1 {
        -webkit-transform: rotate(26deg);
            -ms-transform: rotate(26deg);
                transform: rotate(26deg);
        left: 4.9%;
        top: -7.5%; } }
  .advertising__signs-2 {
    display: none;
    position: absolute; }
    @media (min-width: 769px) {
      .advertising__signs-2 {
        display: block;
        font-size: 40.8px;
        -webkit-transform: rotate(-21.8deg);
            -ms-transform: rotate(-21.8deg);
                transform: rotate(-21.8deg);
        left: 84.7%;
        top: 100.5%; } }
    @media (min-width: 1200px) {
      .advertising__signs-2 {
        -webkit-transform: rotate(-22deg);
            -ms-transform: rotate(-22deg);
                transform: rotate(-22deg);
        left: 85.9%;
        top: 0%; } }
  .advertising__signs-3 {
    display: none;
    position: absolute; }
    @media (min-width: 769px) {
      .advertising__signs-3 {
        display: block;
        font-size: 25px;
        -webkit-transform: rotate(20deg);
            -ms-transform: rotate(20deg);
                transform: rotate(20deg);
        left: 47.8%;
        top: 109%; } }
    @media (min-width: 1200px) {
      .advertising__signs-3 {
        font-size: 38.8px;
        -webkit-transform: rotate(20deg);
            -ms-transform: rotate(20deg);
                transform: rotate(20deg);
        left: 73.5%;
        top: 109%; } }
  .advertising__signs-4 {
    display: none;
    position: absolute; }
    @media (min-width: 1200px) {
      .advertising__signs-4 {
        display: block;
        -webkit-transform: rotate(-18deg);
            -ms-transform: rotate(-18deg);
                transform: rotate(-18deg);
        left: 91.8%;
        top: 86%; } }
  .advertising__signs-5 {
    display: none;
    position: absolute; }
    @media (min-width: 1200px) {
      .advertising__signs-5 {
        display: block;
        font-size: 55.8px;
        -webkit-transform: rotate(16deg);
            -ms-transform: rotate(16deg);
                transform: rotate(16deg);
        left: 11%;
        top: 84%; } }

.footer {
  background-color: #fbfbfb; }

.footer-container {
  padding: 46px 0 51px; }
  @media (min-width: 769px) {
    .footer-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 104px 40px 36px; } }
  @media (min-width: 1200px) {
    .footer-container {
      padding: 82px 0 35px; } }

.footer-navigation {
  margin-bottom: 42px; }
  @media (min-width: 769px) {
    .footer-navigation {
      margin-right: 10%; } }
  @media (min-width: 1200px) {
    .footer-navigation {
      margin-right: 15.5%; } }
  .footer-navigation__ul {
    margin: 0;
    padding: 0; }
  .footer-navigation__li {
    margin-bottom: 16px;
    list-style: none; }
    .footer-navigation__li:hover .footer-navigation__a {
      color: green;
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transition: color 0.25s;
      -o-transition: color 0.25s;
      transition: color 0.25s;
      -webkit-transition: -webkit-transform 0.25s;
      transition: -webkit-transform 0.25s;
      -o-transition: transform 0.25s;
      transition: transform 0.25s;
      transition: transform 0.25s, -webkit-transform 0.25s; }
    @media (min-width: 769px) {
      .footer-navigation__li {
        margin-bottom: 14px; } }
  .footer-navigation__a {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    letter-spacing: .2px;
    color: #8993ad;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s; }
    .footer-navigation__a:last-child {
      margin-bottom: 0; }
    @media (min-width: 769px) {
      .footer-navigation__a {
        font-size: 18px; } }

.contacts {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 769px) {
    .contacts {
      min-width: 300px; } }
  .contacts__phone {
    display: inline-block;
    margin-bottom: 24px;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s; }
    .contacts__phone:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: -webkit-transform 0.25s;
      transition: -webkit-transform 0.25s;
      -o-transition: transform 0.25s;
      transition: transform 0.25s;
      transition: transform 0.25s, -webkit-transform 0.25s; }
      .contacts__phone:hover .contacts__phone-icon,
      .contacts__phone:hover .contacts__phone-number {
        color: green;
        fill: green;
        -webkit-transition: color fill 0.25s;
        -o-transition: color fill 0.25s;
        transition: color fill 0.25s; }
    @media (min-width: 769px) {
      .contacts__phone {
        margin-bottom: 32px; } }
  .contacts__phone-icon {
    width: 14px;
    height: 14px;
    margin-top: 5px;
    margin-right: 17px;
    fill: url(#grad);
    -webkit-transition: fill 0.25s;
    -o-transition: fill 0.25s;
    transition: fill 0.25s; }
    @media (min-width: 769px) {
      .contacts__phone-icon {
        width: 18px;
        height: 18px; } }
  .contacts__phone-number {
    font-size: 20px;
    font-weight: 500;
    color: #8993ad;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s; }
    @media (min-width: 769px) {
      .contacts__phone-number {
        font-size: 25px;
        font-weight: 400; } }
  .contacts__mail {
    display: inline-block;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s; }
    .contacts__mail:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: -webkit-transform 0.25s;
      transition: -webkit-transform 0.25s;
      -o-transition: transform 0.25s;
      transition: transform 0.25s;
      transition: transform 0.25s, -webkit-transform 0.25s; }
      .contacts__mail:hover .contacts__mail-icon,
      .contacts__mail:hover .contacts__mail-number {
        color: green;
        fill: green;
        -webkit-transition: fill color 0.25s;
        -o-transition: fill color 0.25s;
        transition: fill color 0.25s; }
  .contacts__mail-icon {
    width: 14px;
    height: 14px;
    margin-right: 18px;
    padding-top: 2px;
    fill: url(#grad);
    -webkit-transition: fill 0.25s;
    -o-transition: fill 0.25s;
    transition: fill 0.25s; }
    @media (min-width: 769px) {
      .contacts__mail-icon {
        width: 22px;
        height: 22px; } }
  .contacts__mail-number {
    font-size: 20px;
    font-weight: 500;
    color: #8993ad;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s; }
    @media (min-width: 769px) {
      .contacts__mail-number {
        font-size: 25px;
        font-weight: 400; } }

@media (min-width: 769px) {
  .connection {
    display: block;
    width: 30%; } }

@media (min-width: 1200px) {
  .connection {
    display: block;
    width: 30%;
    padding-left: 80px; } }

.connection__button {
  min-width: 280px;
  margin-bottom: 50px;
  cursor: pointer; }
  @media (min-width: 769px) {
    .connection__button {
      font-size: 16px;
      font-weight: 400;
      display: block;
      min-width: 248px;
      width: 248px;
      height: 45px;
      margin: 0;
      margin-top: -5px;
      margin-bottom: 29px;
      padding: 0;
      text-align: center;
      color: #ff6375;
      border: 1px solid #ff5e79;
      background-color: transparent; } }
  @media (min-width: 1200px) {
    .connection__button {
      margin-right: 0 !important; } }

.connection__ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 248px;
  margin: 0;
  padding: 0; }
  @media (min-width: 769px) {
    .connection__ul {
      width: 248px;
      padding-top: 2px; } }
  @media (min-width: 1200px) {
    .connection__ul {
      width: 248px;
      padding-top: 2px; } }

.connection__li {
  list-style: none; }
  .connection__li:last-child {
    margin-right: 0; }
  .connection__li:nth-child(1) {
    width: 35px;
    height: 21px; }
  .connection__li:nth-child(2) {
    width: 30px;
    height: 28px; }
  .connection__li:nth-child(3) {
    width: 29px;
    height: 25px; }
  .connection__li:nth-child(4) {
    width: 25px;
    height: 25px; }

.connection__a .connection__svg:hover {
  fill: green;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s; }

.connection__svg {
  fill: #8993ad;
  width: 100%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s; }

.copyright {
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  margin: 0;
  padding: 19px 0;
  text-align: center;
  color: #fff;
  background-color: #31293c; }
  @media (min-width: 769px) {
    .copyright {
      font-size: 16px;
      padding: 30px 0; } }
